<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .image{
            margin-top:20px;
            margin-right:20px;
            max-width:150px;
            max-height:150px;
        }
        .container{
            font-size: 13px;
        }
    </style>
    <div class="container">
        <table class="table">
            <tr>
                <td>
                    <img src="data:;base64,{{ logo }}" class="image"/>
                </td>
                <td>
                    <table class="table table-sm">
                        <tr>
                            <td>
                                {{company.name}}
                            </td>
                            <td>
                                <b>{{type}}</b></br>
                                {{consecutive}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                C&eacutedula {{type_iden_company}}:{{company.identification_dni}}
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tel&eacutefono: {{company.phone}}
                            </td>
                            <td>
                                <b>Fecha:</b>{{date}}
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                         <tr>
                            <td>
                                Correo electr&oacutenico: {{company.email}}
                            </td>
                            <td>

                            </td>
                        </tr>
                         <tr>
                            <td>
                                Direcci&oacuten: {{company.address}}
                            </td>
                            <td>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </div>
</head>