<style>
     .body-invoice{
            font-size: small;
            width: 100%;
            heigth:100%;
        }

        footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           text-align: center;
        }

        .body-invoice-total{
            font-size: small;
            width: 100%;
            heigth:100%;
        }
        .invoice-header{
            width:100%;
            font-size: small;
            content: "";
            clear: both;
            display: table;
        }
        .div_header{
            width:50%;
            float:left;
        }
        .headertable{
            background-color: black;
            color:white;
        }
        table{
            font-size: small;
        }
        .title{
         width:100%;
         color:white;
         text-align:center;
         background-color:black;
        }
</style>
<br/>
<body>
    <div class="invoice-header">
        <div class="title">Informaci&oacuten del cliente</div>
        <div class="div_header">
            <b>Cliente:</b> {{receiver.nombre}}<br/>
            <b>C&eacutedula {{receiver.tipo_identificacion}}:</b>{{receiver.numero_identificacion}}<br/>
            <b>Tel&eacutefono:</b> {{receiver.telefono}}<br/>
            <b>Correo:</b> {{receiver.correo}}<br/>
            <b>Direcci&oacuten:</b> {{receiver.otrasSenas}}<br/>
        </div>
        <div class="div_header">
            <b>Fecha:</b>{{date}}<br/>
            <b>Medio de Pago:</b> {{payment_method.codigo}}<br/>
            <b>Condici&oacuten de Venta:</b> {{sale_condition}}<br/>
            <b>Moneda:</b> {{currency.tipoMoneda}}<br/>
            <b>Act. Economica:</b> {{activity_code}}<br/>
        </div>
    </div>
    <div class="body-invoice">
         <div class="title">Detalle de Compra</div>
        <table style="width:100%">
            <thead class="headertable">
                <th>Codigo</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Impuestos</th>
                <th>Total   </th>
            </thead>
            <tbody>
            {%for line in lines %}
            <tr>
                    {%for codigos in line.codigo_comercial %}
                    <td>{{codigos.codigo}}</td>
                    {%endfor%}
                    <td>{{line.detalle}}</td>
                    <td>{{line.cantidad}}</td>
                    <td>{{line.precioUnitario}}</td>
                    <td>{{line.impuestoNeto}}</td>
                    <td>{{line.subtotal}}</td>
            </tr>
            {%endfor%}

            </tbody>
        </table>
    </div>
    <div class="body-invoice-total">
        <table id="t01"
               align="right">
            <thead>
                <th style="color:white">Etiqueta</th>
                <th style="color:white">monto</th>
            </thead>
            <tr>
                <td id="td01">Sub Total:</td>
                <td id="td01">{{currencySymbol}} {{total_sales}}</td>
            </tr>
            <tr>
                <td id="td01">Descuento:</td>
                <td id="td01">{{currencySymbol}} {{total_discounts}}</td>
            </tr>
            <tr>
                <td id="td01">IVA:</td>
                <td id="td01">{{currencySymbol}} {{total_taxes}}</td>
            </tr>
            <tr>
                <td id="td02">Total Factura:</td>
                <td id="td02">{{currencySymbol}} {{total_document}} {{total_document_words}}</td>
            </tr>
        </table>
    </div>
</body>
<footer>
        <div class="footer-div">
            <b>Observaciones:</b>
            <p style="text-align:center">Autorizado mediante la Resolucion Version:  Fact Elec.</p>
        </div>

    </footer>
</html>