<style>
     .body-invoice{
            font-size: small;
            border-style:solid;
            border-width:2px;
            border-color:#00BBB6;
            width: 100%;
            heigth:100%;
        }
        table{
            border-style:solid;
            border-width:1px;
            border-color:#00BBB6;
        }
        .footer{
            clear: both;
            position: relative;
            left: 0;
            bottom: 0;
            width: 99%;
            border-style:solid;
            border-width:2px;
            border-color:#00BBB6;
            heigth-min:100px;
        }
        table, td {
            border: 1px solid #00BBB6;
        }
        th{
            text-align: left;
        }
        .body-invoice-total{
            font-size: small;
            width: 100%;
            heigth:100%;
        }
        table#t01 {
            width: 40%;
            border: 1px solid white;
        }
        td#td01{
            border: 1px solid white;

        }
        td#td02{
            border: 1px solid white;
            border-top: 2px solid #00BBB6;
            font-weight: bold;
            font-size: 20;
        }
</style>
<br/>
<body>
    <div class="body-invoice">
        <table style="width:100%">
            <thead>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Descripción del producto</th>
                <th>I.V.A   </th>
                <th>Total   </th>
            </thead>
            {%for i in range(0,45) %}
            {%for line in lines %}
            <tr>
                    <td>{{line.numero}}</td>
                    <td>{{line.cantidad}}</td>
                    <td>{{line.detalle}}</td>
                    <td>{{line.impuestoNeto}}</td>
                    <td>{{line.totalLinea}}</td>
            {%endfor%}
            </tr>
            {%endfor%}
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="body-invoice-total">
        <table id="t01"
               align="right">
            <thead>
                <th style="color:white">Etiqueta</th>
                <th style="color:white">simbolo_moneda</th>
                <th style="color:white">monto</th>
            </thead>
            <tr>
                <td id="td01">Sub Total:</td>
                <td id="td01">₡</td>
                <td id="td01">{{total_sales}}</td>
            </tr>
            <tr>
                <td id="td01">Descuento:</td>
                <td id="td01">₡</td>
                <td id="td01">{{total_discounts}}</td>
            </tr>
            <tr>
                <td id="td01">IVA:</td>
                <td id="td01">₡</td>
                <td id="td01">{{total_taxes}}</td>
            </tr>
            <tr>
                <td id="td02">Total Factura:</td>
                <td id="td02">₡</td>
                <td id="td02">{{total_document}}</td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <div>
            <b>Observaciones:</b>
        </div>
        <p style="text-align:center">Autorizado mediante la Resolucion Version:  Fact Elec.</p>
    </div>
</body>
</html>